@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Rubik+Bubbles&family=Unkempt:wght@400;700&display=swap');


:root {
  --white: #ffffff;
  --black: #000000;
  --dark-yellow: #e4a900;
  --yellow: #FED52F;
  --bgColor: #d4afa6;
  --bgColor1: #EBD4F0;
  --pawpaw-orange: #EDA215;
  --light-green: #81c784;
  --deep-green: #2e7d32;
  --bg-green: #7cb342;
  --font-rubik: "Rubik Bubbles", serif;
  --font-unkempt: "Unkempt",
    serif;
  --font-asul: "Asul",
    serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-asul);
  padding-inline: 7.5vw;
  padding-block: 7vh;
}

h1 {
  font-size: 35px;
  font-family: var(--font-rubik);
  letter-spacing: 5px;
  color: var(--deep-green);
  text-transform: uppercase;
  line-height: 50px;
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  color: var(--pawpaw-orange);
  font-family: var(--font-unkempt);
}

.heading {
  width: 80vw;

}

.heading p {
  line-height: 1.7rem;
  font-size: 0.9rem;
  word-spacing: 3px;
  letter-spacing: 1.3px;
  max-width: 40ch;
  font-family: var(--font-unkempt);
  color: var(--bg-green);
  text-shadow: 0 1px 0px var(--deep-green);
}

.heroGrid {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 20px;
  gap: 1rem;
  margin-top: 3rem;
}

.heroGrid img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.heroGrid img:last-child {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  position: relative;

}

.hero .ball {
  height: clamp(100px, 30vw, 450px);
  width: clamp(100px, 30vw, 450px);
  position: absolute;
  border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -webkit-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -moz-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -ms-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -o-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  mix-blend-mode: difference;
  right: 0%;
  top: 0;
  opacity: 0.4;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  animation: moveBall 20s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate;
  -webkit-animation: moveBall 20s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate;
}

.hero .ball:nth-of-type(4) {
  border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -webkit-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -moz-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -ms-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -o-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  left: 12%;
  top: -87px;
  animation: moveBall2 20s ease-in-out infinite alternate;
  -webkit-animation: moveBall2 20s ease-in-out infinite alternate;
}

.hero .ball:nth-of-type(5) {
  background-image: url('/assets/img3.png');
  top: -190px;
  left: 0;
  filter: none;
  -webkit-filter: none;
  opacity: 1;
  animation: none;
  -webkit-animation: none;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: 40%;
  transform: rotate(45deg);
  -webkit-transform: rotate(90deg) translateX(100px);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

section {
  margin-block-start: 7rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

section h2 {
  color: var(--deep-green);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  text-shadow: 2px 5px 3px var(--pawpaw-orange);
  font-size: 1.7rem;
}

section img {
  width: 70%;
  filter: drop-shadow(2px 2px 15px var(--deep-green));
  -webkit-filter: drop-shadow(2px 2px 15px var(--deep-green));
  margin-top: 1.5rem;
}

section article p {
  max-width: 50ch;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  color: #888;
  text-shadow: 1px 1px var(--light-green);
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes moveBall {
    to {
      right: 60%;
      top: 40%;
    }
  }

  @keyframes moveBall2 {
    to {
      left: 50%;
      top: 40%;
    }
  }
}




@media only screen and (min-width: 576px) {
  h1 {
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 80px;
  }

  h2 {
    font-size: 2rem;
  }

  .heroGrid {
    width: 60vw;
  }

  section img {
    width: 55%
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 70px;
    letter-spacing: 7px;
    line-height: 85px;
  }

  .heading p {
    max-width: 55ch;
    font-size: 1rem;
  }

  .heroGrid {
    width: 50vw;
  }


  section article p {
    max-width: 60ch;
  }

}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 65px;
    line-height: 90px;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    color: var(--pawpaw-orange);
    font-family: var(--font-unkempt);
  }

  .heading {
    width: 40vw;
  }


  .heroGrid {
    width: 35vw;
    margin-top: 0;
  }



  .heroGrid img:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .hero {
    flex-direction: row;
  }


  section {
    margin-block-start: 9rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  section h2 {
    font-size: 2.2rem;
  }

  section img {
    width: 40%;
  }

  section article p {
    max-width: 45ch;
  }

}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 120px;
  }


  .heading {
    width: 40vw;
  }


  .heading p {
    font-size: 1rem;
    word-spacing: 3px;
    letter-spacing: 1.3px;
    max-width: 45ch;
  }

  .span {
    font-family: var(--font-rubik);
  }

}