@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Rubik+Bubbles&family=Unkempt:wght@400;700&display=swap');


:root {
  --white: #ffffff;
  --black: #000000;
  --dark-yellow: #e4a900;
  --yellow: #FED52F;
  --bgColor: #d4afa6;
  --bgColor1: #EBD4F0;
  --pawpaw-orange: #EDA215;
  --light-green: #81c784;
  --deep-green: #2e7d32;
  --bg-green: #7cb342;
  --font-rubik: "Rubik Bubbles", serif;
  --font-unkempt: "Unkempt",
    serif;
  --font-asul: "Asul",
    serif;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-asul);
  -webkit-padding-before: 7vh;
  padding-block-start: 7vh;
}

.hero,
section {
  padding-inline: 7.5vw;
}

h1 {
  font-size: 35px;
  font-family: var(--font-rubik);
  letter-spacing: 5px;
  color: var(--deep-green);
  text-transform: uppercase;
  line-height: 50px;
  opacity: 1;
  transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  color: var(--pawpaw-orange);
  font-family: var(--font-unkempt);
  opacity: 0;
  transform: scale(0.8);
  animation: reveal 1s ease-in-out forwards;
  -webkit-animation: reveal 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: 150px 350px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.heading {
  width: 80vw;

}

.heading p {
  line-height: 1.7rem;
  font-size: 0.9rem;
  word-spacing: 3px;
  letter-spacing: 1.3px;
  max-width: 40ch;
  font-family: var(--font-unkempt);
  color: var(--bg-green);
  text-shadow: 0 1px 0px var(--deep-green);
  transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.heroGrid {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 20px;
  gap: 1rem;
  margin-top: 3rem;
  transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.heroGrid img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.heroGrid img:last-child {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  position: relative;
  transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -webkit-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition: all 1500ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

@starting-style {
  .hero {
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }

  .heroGrid {
    gap: 3rem;
  }

  .heading p {
    line-height: 2rem;
  }

  h1 {
    opacity: 0;
  }
}


.hero .ball {
  height: clamp(100px, 30vw, 450px);
  width: clamp(100px, 30vw, 450px);
  position: absolute;
  border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -webkit-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -moz-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -ms-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  -o-border-radius: 54% 46% 48% 52% / 40% 30% 70% 60%;
  mix-blend-mode: difference;
  right: 0%;
  top: 0;
  opacity: 0.4;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  animation: moveBall 10s ease infinite alternate;
  -webkit-animation: moveBall 10s ease infinite alternate;
}

.hero .ball:nth-of-type(4) {
  border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -webkit-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -moz-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -ms-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  -o-border-radius: 32% 68% 41% 59% / 38% 29% 71% 62%;
  left: 12%;
  top: -87px;
  animation: moveBall2 20s ease infinite alternate;
  -webkit-animation: moveBall2 20s ease infinite alternate;
}

.hero .ball:nth-of-type(5) {
  background-image: url('/assets/img3.png');
  top: -190px;
  left: 0;
  filter: none;
  -webkit-filter: none;
  opacity: 1;
  animation: none;
  -webkit-animation: none;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  background-size: 40%;
  transform: rotate(90deg) translateX(100px);
  -webkit-transform: rotate(90deg) translateX(100px);
  -moz-transform: rotate(90deg) translateX(100px);
  -ms-transform: rotate(90deg) translateX(100px);
  -o-transform: rotate(90deg) translateX(100px);
}

section {
  -webkit-margin-before: 5rem;
  margin-block-start: 7rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  padding-block: 3rem;
}

section h2 {
  color: var(--deep-green);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  text-shadow: 2px 5px 3px var(--pawpaw-orange);
  font-size: 1.7rem;
  max-width: 20ch;
}

section img {
  width: 70%;
  filter: drop-shadow(2px 2px 15px var(--deep-green));
  -webkit-filter: drop-shadow(2px 2px 15px var(--deep-green));
  margin-top: 1.5rem;
  -webkit-animation: reveal 1s ease-in-out forwards;
  animation: reveal 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: 150px 350px;
  opacity: 0;
  transform: scale(0.8);
}

section article p {
  max-width: 50ch;
  line-height: 1.7rem;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  color: #888;
  text-shadow: 1px 1px var(--light-green);
  padding-block: 0.5rem;
  -webkit-animation: reveal 1s ease-in-out forwards;
  animation: reveal 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: 150px 350px;
  opacity: 0;
  transform: scale(0.8);
}


section:nth-of-type(2) h2 {
  color: var(--pawpaw-orange);

  text-shadow: 2px 5px 3px var(--bgColor);
}

section:nth-of-type(2) img {
  filter: drop-shadow(2px 2px 80px var(--yellow));
  -webkit-filter: drop-shadow(2px 2px 80px var(--yellow));
}

section:nth-of-type(3) img {
  filter: drop-shadow(2px 2px 10px var(--white));
  -webkit-filter: drop-shadow(2px 2px 10px var(--white));
}

section:nth-of-type(3) {
  background-color: var(--bgColor);
  -webkit-margin-after: 0;
  margin-block-end: 0;
  padding-bottom: 7rem;
}

section:nth-of-type(3) article p {
  color: var(--white);
  text-shadow: 1px 1px var(--bgColor1);
}

section:nth-of-type(3) h2 {
  color: var(--yellow);

  text-shadow: 2px 5px 8px var(--deep-green);
}

section:nth-of-type(4) {
  background-color: var(--bgColor1);
  margin-block: 0;
  padding-block: 7rem;
}

section:nth-of-type(5) {
  background-color: var(--bg-green);
  margin-block: 0;
  padding-block: 7rem;
}

section:nth-of-type(5) h2 {
  color: var(--yellow);
  text-shadow: 2px 5px 8px var(--deep-green);
  ;
}

section:nth-of-type(5) article p {
  color: var(--white);
  text-shadow: 1px 1px var(--bgColor1);
}

section:nth-of-type(5) img {
  filter: drop-shadow(2px 2px 5px var(--white));
  -webkit-filter: drop-shadow(2px 2px 5px var(--white));
}

section:nth-of-type(6) {
  background-color: var(--yellow);
  margin-block: 0;
}

section:nth-of-type(6) article p {
  color: var(--black);
  text-shadow: 0 1px var(--dark-yellow);
}

section:nth-of-type(2),
section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5) {
  position: -webkit-sticky;
  position: sticky;
  top: -650px;
  z-index: -1;
}

section:nth-of-type(3),
section:nth-of-type(4),
section:nth-of-type(5),
section:nth-of-type(6) {
  box-shadow: 0 -1px 9px #555;
}

section.cardblock {
  background-color: var(--white);
  margin-block: 0;
  min-height: 100vh;
  padding-block: 9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;

}


.cardblock h2 {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: var(--bgColor);
  text-shadow: 2px 5px 0px var(--bgColor1);
}

section.cardblock .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

.card {
  flex-basis: 85%;
  padding-inline: 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: -2px 0px 3px #ccc, 2px 0px 3px #ccc;
  gap: 1rem;
  background-color: var(--bgColor1);
  margin-block: 7rem;
  position: relative;
  -webkit-animation: reveal 1s ease-in-out forwards;
  animation: reveal 1s ease-in-out forwards;
  animation-timeline: view();
  animation-range: 150px 350px;
  opacity: 0;
  transform: scale(0.8);
}

.card .img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: relative;
  top: -85px;
  box-shadow: -0px 0px 0px 10px var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.img::before {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  top: 85px;
  left: -32px;
  border-top-right-radius: 25px;
  background-color: transparent;
  box-shadow: 5px -4px 0px var(--white);
}

.img::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 30px;
  top: 85px;
  right: -32px;
  border-top-left-radius: 25px;
  background-color: transparent;
  box-shadow: -5px -4px 0px var(--white);
}

.card .img img {
  filter: none;
  -webkit-filter: none;
  height: 150px;
  width: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0;
  border: 3px solid var(--bgColor);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card p {
  line-height: 1.6rem;
  word-spacing: 2px;
  letter-spacing: 1.4px;
  transform: translateY(-10%);
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  -o-transform: translateY(-10%);
  font-family: var(--font-unkempt);
  text-align: center;
}

.card h4 {
  margin-top: auto;
  background-color: var(--yellow);
  box-shadow: 0 0 0 7px var(--white);
  height: 40px;
  display: grid;
  place-items: center;
  padding-inline: 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  font-family: var(--font-rubik);
  color: var(--deep-green);
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
}

.card h4::before {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 1px;
  left: -28px;
  height: 20px;
  width: 20px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px var(--white);
}

.card h4::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 1px;
  right: -28px;
  height: 20px;
  width: 20px;
  border-bottom-left-radius: 15px;
  box-shadow: -5px 5px var(--white);
}

footer {
  background-color: var(--white);
  padding-inline: 7vw;
  font-size: 1.2rem;
  -webkit-padding-before: 1rem;
  padding-block-start: 1rem;
  color: var(--pawpaw-orange);
  text-shadow: 0px 1px var(--black);
  letter-spacing: 2px;
  word-spacing: 4px;
}


@media (prefers-reduced-motion: no-preference) {
  @-webkit-keyframes moveBall {
    to {
      right: 60%;
      top: 40%;
    }
  }

  @keyframes moveBall {
    to {
      right: 60%;
      top: 40%;
    }
  }

  @-webkit-keyframes moveBall2 {
    to {
      left: 50%;
      top: 40%;
    }
  }

  @keyframes moveBall2 {
    to {
      left: 50%;
      top: 40%;
    }
  }

  @-webkit-keyframes reveal {
    from {
      opacity: 0;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }

  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
    }

    to {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }

  }
}




@media only screen and (min-width: 576px) {
  h1 {
    font-size: 60px;
    letter-spacing: 7px;
    line-height: 80px;
  }

  h2 {
    font-size: 2rem;
  }

  .heroGrid {
    width: 60vw;
  }

  section img {
    width: 55%
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 70px;
    letter-spacing: 7px;
    line-height: 85px;
  }

  .heading p {
    max-width: 55ch;
    font-size: 1rem;
  }

  .heroGrid {
    width: 50vw;
  }


  section article p {
    max-width: 60ch;
  }

  .card {
    flex-basis: 45%;
  }

}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 65px;
    line-height: 90px;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    color: var(--pawpaw-orange);
    font-family: var(--font-unkempt);
  }

  .heading {
    width: 40vw;
  }


  .heroGrid {
    width: 35vw;
    margin-top: 0;
  }



  .heroGrid img:last-child {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .hero {
    flex-direction: row;
  }


  section {
    -webkit-margin-before: 9rem;
    margin-block-start: 9rem;
    -webkit-margin-after: 2rem;
    margin-block-end: 2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  section h2 {
    font-size: 2.2rem;
  }

  section img {
    width: 40%;
  }

  section article p {
    max-width: 45ch;
  }

  section:nth-of-type(2),
  section:nth-of-type(3),
  section:nth-of-type(4),
  section:nth-of-type(5) {
    position: -webkit-sticky;
    position: sticky;
    top: -150px;
    z-index: -1;
  }

  section:nth-of-type(2),
  section:nth-of-type(4),
  section:nth-of-type(6) {
    flex-direction: row;
  }

  section:nth-of-type(6) img {
    mix-blend-mode: darken;
  }

  section.cardblock .cards {
    justify-content: space-between;
  }

  .card {
    flex-basis: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 120px;
  }


  .heading {
    width: 40vw;
  }


  .heading p {
    font-size: 1rem;
    word-spacing: 3px;
    letter-spacing: 1.3px;
    max-width: 45ch;
  }

  .span {
    font-family: var(--font-rubik);
  }

}